:root {
    --popper-theme-background-color: #333333;
    --popper-theme-background-color-hover: #333333;
    --popper-theme-text-color: #ffffff;
    --popper-theme-border-color: transparent;
    --popper-theme-border-width: 2px;
    --popper-theme-border-style: solid;
    --popper-theme-border-radius: 4px;
    --popper-theme-padding: 4px 8px;
    --popper-theme-box-shadow: 0 6px 30px -6px rgba(0, 0, 0, 0.25);
}

.popper {
    transition: background 200ms ease-in-out;
    background: var(--popper-theme-background-color);
    padding: var(--popper-theme-padding);
    color: var(--popper-theme-text-color);
    border-radius: var(--popper-theme-border-radius);
    border-width: var(--popper-theme-border-width);
    border-style: var(--popper-theme-border-style);
    border-color: var(--popper-theme-border-color);
    box-shadow: var(--popper-theme-box-shadow);
    z-index: v-bind(zIndex);
    font-size: 12px;
    font-weight: 400;
    margin-top: 8px !important;
}

.popper:hover,
.popper:hover > #arrow::before {
    background: var(--popper-theme-background-color-hover);
}

.inline-block {
    display: inline-block;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

#arrow,
#arrow::before {
    transition: background 250ms ease-in-out;
    position: absolute;
    width: calc(10px - var(--popper-theme-border-width, 0px));
    height: calc(10px - var(--popper-theme-border-width, 0px));
    box-sizing: border-box;
    background: var(--popper-theme-background-color);
}

#arrow {
    visibility: hidden;
}

#arrow::before {
    visibility: visible;
    content: "";
    transform: rotate(45deg);
}

/* Top arrow */
.popper[data-popper-placement^="top"] > #arrow {
    bottom: -5px;
}

.popper[data-popper-placement^="top"] > #arrow::before {
    border-right: var(--popper-theme-border-width)
    var(--popper-theme-border-style) var(--popper-theme-border-color);
    border-bottom: var(--popper-theme-border-width)
    var(--popper-theme-border-style) var(--popper-theme-border-color);
}

/* Bottom arrow */
.popper[data-popper-placement^="bottom"] > #arrow {
    top: -5px;
}

.popper[data-popper-placement^="bottom"] > #arrow::before {
    border-left: var(--popper-theme-border-width)
    var(--popper-theme-border-style) var(--popper-theme-border-color);
    border-top: var(--popper-theme-border-width)
    var(--popper-theme-border-style) var(--popper-theme-border-color);
}

/* Left arrow */
.popper[data-popper-placement^="left"] > #arrow {
    right: -5px;
}

.popper[data-popper-placement^="left"] > #arrow::before {
    border-right: var(--popper-theme-border-width)
    var(--popper-theme-border-style) var(--popper-theme-border-color);
    border-top: var(--popper-theme-border-width)
    var(--popper-theme-border-style) var(--popper-theme-border-color);
}

/* Right arrow */
.popper[data-popper-placement^="right"] > #arrow {
    left: -5px;
}